name: Build SyncBlade Plugin

on:
  push:
    branches: [ main ]
    tags: [ "v*", "V*" ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle 8.10.2
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.10.2

      - name: Build with Gradle
        run: ./gradlew clean build || gradle clean build

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: SyncBlade
          path: build/libs/*.jar
